<div class="container">
    <a class="btn btn-outline-primary mx-2 my-2 float-right" routerLink="addflat" ><span class="fa fa-plus"></span> Add Flat</a>

<table class="table">
  <thead  class="thead-dark">
    <tr><th scope="col">Address</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="5" >Rooms</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="(flats.length==0);else table">
      <td colspan="8">There are no orders</td>
    </tr>
    <ng-template #table ngFor let-o [ngForOf]="getflats()">
      
        <tr>
              <td>{{o.location}} {{o.street}} {{o.number}}</td>
              <td>{{o.description}}</td>
              <th scope="col">Title</th>
              <th scope="col">Number</th>
              <th scope="col" >Description</th>
              <th scope="col">Price</th>
              <th scope="col">Places</th>
              <td>
              <button class="btn btn-outline-danger" (click)="delete(o)">
                  <span class="fa fa-trash-alt"></span>
              </button>
              </td>
            </tr>
            <tr *ngFor="let room of o.Rooms">
            <td colspan="2"></td>
            <td>{{room.title}}</td>
            <td>{{room.number}}</td>
            <td>{{room.description}}</td>
            <td>{{room.price}}</td>
            <td>{{room.number_of_free_rooms}}/{{room.number_of_rooms}}</td>
            </tr>
      
  </ng-template>
  </tbody>

<div class="form-inline pull-xs-left mt-2" style="display: inline-block;">
    <select class="form-control" [value]="productsPerPage"
    (change)="changePageSize($event.target.value)">
    <option value="3">3 per Page</option>
    <option value="4">4 per Page</option>
    <option value="6">6 per Page</option>
    <option value="8">8 per Page</option>
    </select>
  </div>
<div class="btn-group pull-xs-right ml-2">
    <button *ngFor="let page of pageNumbers" (click)="changePage(page)"
    class="btn btn-outline-primary" [class.active]="page == selectedPage">
    {{page}}
    </button>
</div>
  </table> 
  </div>
