<div class="container">
    <a class="btn btn-outline-primary mx-2 my-2 float-right" routerLink="addflat" ><span class="fa fa-plus"></span> Add Flat</a>
<div class="table-responsive-sm">
<table class="table">
  <thead  class="thead-dark">
    <tr><th scope="col">Address</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="5" >Rooms</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="(flats.length==0);else table">
      <td colspan="8">There are no flats</td>
    </tr>
    <ng-template #table ngFor let-o [ngForOf]="getflats()">
      
        <tr [ngClass]="{'invisible': isEmpty(o)}">
              <td><inline-editor class="inlbl" type="text" [(ngModel)]="o.location" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor> 
                <inline-editor class="inlbl" type="text" [(ngModel)]="o.street" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor>     
                <inline-editor class="inlbl" type="text" [(ngModel)]="o.number" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor>
              </td>
                <td class="descr">
                <inline-editor class="inlbl" type="text" [(ngModel)]="o.description" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor></td>
              <th scope="col">Title</th>
              <th scope="col">Number</th>
              <th scope="col" >Description</th>
              <th scope="col">Price</th>
              <th scope="col">Places</th>
              <td>
              <button class="btn btn-outline-danger" (click)="delete(o)">
                  <span class="fa fa-trash-alt"></span>
              </button>
              </td>
            </tr>
            <tr *ngFor="let room of o.Rooms" [ngClass]="{'invisible': isEmpty(o)}">
              <td colspan="2"></td>
              <td>
                  <inline-editor class="inlbl" type="text" [(ngModel)]="room.title" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor>
                </td>
              <td>
                  <inline-editor class="inlbl" type="text" [(ngModel)]="room.number" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor>
              </td>
              <td>
                  <inline-editor class="inlbl" type="text" [(ngModel)]="room.description" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor>
              </td>
              <td>
                  <inline-editor class="inlbl" type="text" [(ngModel)]="room.price" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor>                
              </td>
              <td><div class="free-rooms">
                  <button [ngClass]="{'disabled': isZero(room)}" class="btn btn-sm btn-outline-primary mybtn" (click)="decrement(room,o)">
                      <span class="fa fa-angle-down"></span>
                  </button>
                {{room.number_of_free_rooms}}
                <button [ngClass]="{'disabled': isFull(room)}" class="btn btn-sm btn-outline-primary mybtn" (click)="increment(room,o)">
                    <span class="fa fa-angle-up"></span>
                </button>
              </div>/ <inline-editor class="inlbl" type="text" [(ngModel)]="room.number_of_rooms" (onSave)="saveEditable(o)" name="editableText1" size="8"></inline-editor>                
            </td>
              <td>
                  <button class="btn btn-sm btn-outline-danger" (click)="deleteRoom(o,room)" ><span class="fa fa-trash-alt"></span></button>
              </td>
              </tr>
              <tr [ngClass]="{'invisible': isEmpty(o)}">
                  <td colspan="2"></td>
                  <td [ngClass]="{'invisible': isAdding(o)}" colspan="5">
                    <button class="btn btn-sm btn-outline-primary" (click)="startAdd(o)"><span class="fa fa-plus"></span> Add Room</button>
                  </td>
               <!--  <form [ngClass]="{'invisible': !isAdding}" role="form"  #myForm="ngForm" (ngSubmit)="onSubmit()"> -->
                  <td [ngClass]="{'invisible': !isAdding(o)}" >
                      <input class="form-control" type="text" [(ngModel)]="newRoom.title" />
                  </td>
                  <td [ngClass]="{'invisible': !isAdding(o)}">
                      <input class="form-control" type="text" [(ngModel)]="newRoom.number" />
                  </td>
                  <td [ngClass]="{'invisible': !isAdding(o)}" >
                      <input class="form-control" type="text" [(ngModel)]="newRoom.description"/>
                  </td>
                  <td [ngClass]="{'invisible': !isAdding(o)}">
                      <input class="form-control" type="text" [(ngModel)]="newRoom.price" />
                  </td>
                  <td [ngClass]="{'invisible': !isAdding(o)}">
                      <input class="form-control" type="text" [(ngModel)]="newRoom.number_of_rooms"/>
                  </td>
                  <td [ngClass]="{'invisible': !isAdding(o)}">
                  <button class="btn btn-sm btn-outline-primary mb-1" (click)="addRoom(o)" ><span class="fa fa-check"></span></button>
                  <button class="btn btn-sm btn-outline-danger" (click)="stopAdd()" ><span class="fa fa-trash-alt"></span></button>
                  
                  </td>

               <!--  </form> -->
            </tr>
      
  </ng-template>
  </tbody>


  </table> 
</div>
<div class="form-inline pull-xs-left mt-2" style="display: inline-block;">
    <select class="form-control" [value]="productsPerPage"
    (change)="changePageSize($event.target.value)">
    <option value="10">10 per Page</option>
    <option value="25">25 per Page</option>
    <option value="50">50 per Page</option>
    <option value="100">100 per Page</option>
    </select>
  </div>
<div class="btn-group pull-xs-right ml-2">
    <button  (click)="decrPage()" [disabled]="isFirstPage()"
    class="btn btn-outline-primary" >
    <span class="fa fa-angle-left"></span>
    </button>
    <button *ngFor="let page of pageNumbers" (click)="changePage(page)"
    class="btn btn-outline-primary" [class.active]="page == selectedPage">
    {{page}}
    </button>
    <button (click)="incPage()" [disabled]="isLastPage()"
    class="btn btn-outline-primary" >
    <span class="fa fa-angle-right"></span>
    </button>
</div>
  </div>
